@font-face {
    font-family: KGRedHands;
    src: url("font/ShadowsIntoLight-Regular.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ShadowsIntoLight-Regular, serif;
}

body::before {
    content: "";
    height: 100%;
    width: 100%;
    background-image: url("backgroundImage.jpg");
    background-size: cover;
    position: fixed;
    opacity: 0.6;
    z-index: -1;
}

h3{
    font-size: 4rem;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    text-align: center;
    width: 350px;

    background-color: #b29994;
    border-radius: 10px;
    border: 2px solid #326c7e;
    box-shadow: 0 0 15px 15px #326c7e;

}

.modalDifficulty{
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

    width: 500px;

    text-align: center;
    background-color: #b29994;
    border-radius: 10px;
    border: 2px solid #326c7e;
    box-shadow: 0 0 15px 15px #326c7e;

    z-index: 5;
}

.modalRules{
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);



    text-align: center;
    background-color: #b29994;
    border-radius: 10px;
    border: 2px solid #326c7e;
    box-shadow: 0 0 15px 15px #326c7e;

    z-index: 10;
}

.modalAuthors{
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);



    text-align: center;
    background-color: #b29994;
    border-radius: 10px;
    border: 2px solid #326c7e;
    box-shadow: 0 0 15px 15px #326c7e;

    z-index: 15;
}

.modalGame{
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: 40%;

    background-color: #b29994;
    border-radius: 10px;
    border: 2px solid #326c7e;
    box-shadow: 0 0 15px 15px #326c7e;

    z-index: 20;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameTitle{
    margin: 20px;
}

.buttonDiv{
    margin: 25px;
}

.button-35 {
    align-items: center;
    width: 180px;
    height: 70px;
    font-size: 2rem;
    border-radius: 10px;
    outline: none;
    border: none;
}

.button-35:hover {
    box-shadow: 0 0 15px 15px #326c7e;
}